.App {
  max-width: 700px;
  margin: 60px auto;
}

body {
  background: #f9f7fe;
  display: block;
}

h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

ul {
  margin-left: -30px;
  color: #878787;
  list-style: none;
  color: rgba(39, 33, 66, 0.4);

  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
